/* Move and Change Color Animation */
@keyframes Rotate {
    from {
        transform: Rotate(360deg);
    }

    to {
        transform: Rotate(0deg);
    }
  }

@keyframes Wave {
    0%,100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    
}

@keyframes GantiWarna {
    0%,100% { color: #ffffff; }    /* Putih */
    25% { color: #fe7b00; }   /* Biru Muda */
    50% { color: #8e44ad; }   /* Ungu */
    75% { color: #008612; }   /* Hijau Neon */
  }