/* Move and Change Color Animation */
@keyframes Rotate {
    from {
        transform: Rotate(360deg);
    }

    to {
        transform: Rotate(0deg);
    }
  }

@keyframes Wave {
    0%,100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    
}