/* Move and Change Color Animation */
@keyframes Rotate {
    from {
        transform: Rotate(360deg);
    }

    to {
        transform: Rotate(0deg);
    }
  }

@keyframes Wave {
    0%,100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
        text-shadow: 
        1px 1px 0 rgb(51, 51, 51),
        2px 2px 0 rgb(59, 59, 59),
        3px 3px 0 rgb(37, 37, 37),
        4px 4px 0 rgb(26, 26, 26),
        5px 5px 0 rgb(12, 12, 12);
    }
    
}

@keyframes GantiWarna {
    0%,100% { color: #ffffff; }    /* Putih */
    25% { color: #0f3fff; }   /* Biru Muda */  /* Ungu */
    75% { color: #ffffff; }   /* Hijau Neon */
  }


@keyframes GantiBorder {
    0%,100% {
        border: solid rgb(88, 32, 241);
    }

    50% {
        border: solid rgb(14, 157, 235);
    }
}