aside {
    background-color: var(--primary-color) ;
    height: 50vh;
    width: 70px;
    position: fixed;
    left: 0;
    border-radius: 0 10px 10px 0;
    transform: translateY(-50%);
    top: 50%;
    overflow: hidden;
    transition: 1s;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;


}

aside a img {
    transition: transform 0.3s ease; 
}

aside a img:hover {
    transform: rotate(-35deg);
}

@media (max-width: 768px){
    aside {
        width: 60px;
    }
}