
#Home {
    width: 100%;
    color: var(--primary-color);
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px ;
}


#Home .Foto {
    width: 200px;
    height: 300px;
    border-radius: 80px;
    margin-left: 40px;
    background-image: url('../Asset/Profil\ \(2\).jpeg');
    box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  -30px -140px;
    background-size: 140%;
    border: 2px solid rgba(255, 255, 255, 0.1); 
    transition: 0.4s;
    flex-shrink: 0; /* Prevent image shrinking */
    box-shadow: 10px 10px 20px rgba(16, 16, 16, 0.5);
}

#Home .Foto:hover {
    transform: scale(1.2);
    box-shadow: 10px 10px 20px rgba(248, 248, 248, 0.5);
}

#Home .Intro {
    width: 60%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

#Home .Intro .Nama{
    font-family: "Itim", serif;
    font-weight: 100;
    font-style: normal;
    margin: 12px 0;
}

#Home .Intro .Jobdesk{
    font-family: "Jersey 25", serif;
    font-weight: 400;
    font-size: 6vh;
    font-style: normal;
    margin: 12px 0;
    letter-spacing: 5px;
}

#Home .Intro .Jobdesk span {
    display: inline-block;
    animation: Wave 2s ease-in-out infinite;
}

.loop-slider {
    .inner {
      display: flex;
      width: fit-content;
      animation-name: loop;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      animation-direction: var(--direction);
      animation-duration: var(--duration);
    }
  }


#Home .Intro .Jobdesk span:nth-child(1){
    animation-delay: 0.1s;
}

#Home .Intro .Jobdesk span:nth-child(2){
    animation-delay: 0.2s;
}

#Home .Intro .Jobdesk span:nth-child(3){
    animation-delay: 0.3s;
}

#Home .Intro .Jobdesk span:nth-child(4){
    animation-delay: 0.4s;
}

#Home .Intro .Jobdesk span:nth-child(5){
    animation: GantiWarna 3s infinite ease-in-out 0.3s, Wave 2s ease-in-out 0.5s infinite;
}

#Home .Intro .Jobdesk span:nth-child(6){
    animation: GantiWarna 3s infinite ease-in-out 0.3s, Wave 2s ease-in-out 0.6s infinite;
}

#Home .Intro .Jobdesk span:nth-child(7){
    animation: GantiWarna 3s infinite ease-in-out 0.3s, Wave 2s ease-in-out 0.7s infinite;
}

#Home .Intro .Jobdesk span:nth-child(8){
    animation: GantiWarna 3s infinite ease-in-out 0.3s, Wave 2s ease-in-out 0.8s infinite;
}

#Home .Intro .Jobdesk span:nth-child(9){
    animation: GantiWarna 3s infinite ease-in-out 0.3s, Wave 2s ease-in-out 0.9s infinite;
}

#Home .Intro .Jobdesk span:nth-child(10){
    animation: GantiWarna 3s infinite ease-in-out 0.3s, Wave 2s ease-in-out 1s infinite;
}

#Home .Intro .Jobdesk span:nth-child(11){
    animation: GantiWarna 3s infinite ease-in-out 0.3s, Wave 2s ease-in-out 1.1s infinite;
}

#Home .Intro .Jobdesk span:nth-child(12){
    animation: GantiWarna 3s infinite ease-in-out 0.3s, Wave 2s ease-in-out 1.2s infinite;
}

#Home .Intro .Jobdesk span:nth-child(13){
    animation: GantiWarna 3s infinite ease-in-out 0.3s, Wave 2s ease-in-out 1.3s infinite;
}


#Home .Intro .About {
    font-family: "Itim", serif;
    font-weight: 100;
    font-style: normal;
    margin: 12px 0;
}

#Home .Intro .Download {
    display: flex;
    margin: 12px 0;
}

#Home .Intro .Download a {
    text-decoration: none;
    color: black;
    display: inline-block;
    background-color: var(--primary-color);
    margin-right: 90px;
    padding: 4px 10px;
    border-radius: 8px;
    font-family: "Itim", serif;
    transition: 1s;
}

    /* Styling link */
    .Download a {
        display: inline-block;
        margin-right: 15px;
        text-decoration: none;
        color: blue;
        position: relative;
        cursor: pointer;
      }
  
      /* Tooltip Styling */
      .Download a::after {
        content: attr(data-tooltip);
        position: absolute;
        bottom: 125%;
        left: 50%;
        transform: translateX(-50%);
        background-color: #333;
        color: #fff;
        padding: 5px 8px;
        border-radius: 5px;
        white-space: nowrap;
        font-size: 12px;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.2s;
      }
  
      /* Show tooltip on hover */
      .Download a:hover::after {
        visibility: visible;
        opacity: 1;
      }


    .Banner {
        position: absolute;
        width: 100%;
        height: 70px;

        color: black;
        top: 590px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-right: solid white;
        border-left: solid white;
        overflow: hidden;
    }

    .Banner .Kartu {

        background-color: #094bf1;
        padding: 9px;
        border-radius: 10px;
        color: #fff;
        font-family: "Jersey 25", serif;
        letter-spacing: 2px;
        animation: Kartu 3s linear infinite;
    }

    @keyframes Kartu {
        0%,100%{
            transform: translateX(0);
        }
        25% {
            transform: translateX(-50px);
        }
        75% {
            transform: translateX(50px);
            background-color: #fff;
            color: #333;
        }
    }
    
    .Kartu:nth-child(1){
        animation-delay: 0.1s;
    }

    .Kartu:nth-child(2){
        animation-delay: 0.2s;
    }

    .Kartu:nth-child(3){
        animation-delay: 0.3s;
    }

    .Kartu:nth-child(4){
        animation-delay: 0.4s;
    }

    @media (max-width: 1000px) {

        .gear {
            position: absolute;
            animation: Rotate 2s ease-in-out infinite;
        }
        
        .satu {
            top: 180px;
            right: 200px;
        }
        
        .dua {
            top: 210px;
            right: 200px;
        }
        
        .tiga {
            top: 195px;
            right: 172px;
        }

        
        #Home {
            width: 100%;
            color: var(--primary-color);
            padding: 20px 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
            
        }
        
        #Home .Foto {
            width: 140px;
            height: 230px;
            border-radius: 80px;
            margin-left: 40px;
            background-image: url('../Asset/Profil\ \(2\).jpeg');
            box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5);
            background-size: cover;
            background-repeat: no-repeat;
            background-position:  -20px -90px;
            background-size: 140%;
            border: 2px solid rgba(255, 255, 255, 0.1); 
            transition: 0.4s;
            flex-shrink: 0; /* Prevent image shrinking */
            box-shadow: 10px 10px 20px rgba(16, 16, 16, 0.5);
        }
        
        #Home .Foto:hover {
            transform: scale(1.2);
            box-shadow: 10px 10px 20px rgba(248, 248, 248, 0.5);
        }
        
        #Home .Intro {
            width: 60%;
            margin-left: 30px;
            display: flex;
            flex-direction: column;
            padding-bottom: 40px;
        }
        
        #Home .Intro .Nama{
            font-family: "Itim", serif;
            font-weight: 100;
            font-style: normal;
            margin: 12px 0;
        }
        
        #Home .Intro .Jobdesk{
            font-family: "Jersey 25", serif;
            font-weight: 400;
            font-size: 2.8vh;
            font-style: normal;
            margin: 12px 0;
            letter-spacing: 5px;
        }
        
        #Home .Intro .About {
            font-family: "Itim", serif;
            font-weight: 100;
            font-style: normal;
            font-size: 1.7vh;
            margin: 12px 0;
        }
        
        #Home .Intro .Download {
            display: flex;
            margin: 3px 0;
        }
        
        #Home .Intro .Download a {
            text-decoration: none;
            color: black;
            display: inline-block;
            background-color: var(--primary-color);
            margin-right: 8px;
            padding: 4px 10px;
            border-radius: 8px;
            font-family: "Itim", serif;
            transition: 1s;
            font-size: 1.6vh;
        }
        
            /* Styling link */
            .Download a {
                display: inline-block;
                margin-right: 15px;
                text-decoration: none;
                color: blue;
                position: relative;
                cursor: pointer;
              }
          
              /* Tooltip Styling */
              .Download a::after {
                content: attr(data-tooltip);
                position: absolute;
                bottom: 125%;
                left: 50%;
                transform: translateX(-50%);
                background-color: #333;
                color: #fff;
                padding: 5px 8px;
                border-radius: 5px;
                white-space: nowrap;
                font-size: 12px;
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.2s;
              }
          
              /* Show tooltip on hover */
              .Download a:hover::after {
                visibility: visible;
                opacity: 1;
              }
        
    }

    @media (max-width: 500px) {
        .gear {
            position: absolute;
            animation: Rotate 2s ease-in-out infinite;
        }
        

        .satu {
            top: 450px;
            right: 80px;
        }
        
        .dua {
            top: 480px;
            right: 80px;
        }
        
        .tiga {
            top: 465px;
            right: 52px;
        }

        #Home {
            width: 100%;
            color: var(--primary-color);
            padding: 0px 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        
        #Home .Foto {
            width: 120px;
            height: 180px;
            border-radius: 80px;
            margin-left: 0px;
            background-image: url('../Asset/Profil\ \(2\).jpeg');
            box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5);
            background-size: cover;
            background-repeat: no-repeat;
            background-position:  -18px -75px;
            background-size: 140%;
            border: 2px solid rgba(255, 255, 255, 0.1); 
            transition: 0.4s;
            flex-shrink: 0; /* Prevent image shrinking */
            box-shadow: 10px 10px 20px rgba(16, 16, 16, 0.5);
        }
        
        #Home .Foto:hover {
            transform: scale(1.2);
            box-shadow: 10px 10px 20px rgba(248, 248, 248, 0.5);
        }
        
        #Home .Intro {
            width: 97%;
            margin-left: 30px;
            display: flex;
            flex-direction: column;
            padding-bottom: 40px;
        }
        
        #Home .Intro .Nama{
            font-family: "Itim", serif;
            font-weight: 100;
            font-style: normal;
            font-size: 2vh;
            margin: 12px 0;
        }
        
        #Home .Intro .Jobdesk{
            font-family: "Jersey 25", serif;
            font-weight: 300;
            font-size: 3vh;
            font-style: normal;
            margin: 12px 0;
            letter-spacing: 5px;
        }
        
        #Home .Intro .About {
            font-family: "Itim", serif;
            font-weight: 100;
            font-style: normal;
            font-size: 1.5vh;
            margin: 12px 0;
        }
        
        #Home .Intro .Download {
            display: flex;
            margin: 1px 3;
        }
        
        #Home .Intro .Download a {
            text-decoration: none;
            color: black;
            display: inline-block;
            background-color: var(--primary-color);
            margin-right: 30px;
            padding: 4px 10px;
            border-radius: 8px;
            font-family: "Itim", serif;
            transition: 1s;
            font-size: 1.6vh;
        }
        
            /* Styling link */
            .Download a {
                display: inline-block;
                margin-right: 15px;
                text-decoration: none;
                color: blue;
                position: relative;
                cursor: pointer;
              }
          
              /* Tooltip Styling */
              .Download a::after {
                content: attr(data-tooltip);
                position: absolute;
                bottom: 125%;
                left: 50%;
                transform: translateX(-50%);
                background-color: #333;
                color: #fff;
                padding: 5px 8px;
                border-radius: 5px;
                white-space: nowrap;
                font-size: 12px;
                visibility: hidden;
                opacity: 0;
                transition: opacity 0.2s;
              }
          
              /* Show tooltip on hover */
              .Download a:hover::after {
                visibility: visible;
                opacity: 1;
              }
    }
    